<div class="contents row">
  <div class="container">
    <h2>Log in</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class = "sin-up-area">
        <div class = "sin-up-areas">

            <div class = "formbrock">
              <div class = "label-field">
              <%= f.label :email %>
              </div>
              <div class="field">
              <%= f.email_field :email, autofocus: true, class: "form" %>
              </div>
          </div>

            <div class = "formbrock">
              <div class = "label-field">
              <%= f.label :password %>
              </div>
              <div class="field">
              <%= f.password_field :password, autocomplete: "off", class: "form" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
            

            <div class = "formbrock">
              <div class = "label-field">
                <%= f.label :remember_me %>
                </div>
                <div class="field">
                <%= f.check_box :remember_me %>
                </div>
              </div>
            <% end -%>

            <div class = "formbrock">
              <div class="actions">
                <%= f.submit "Log in", class: "submit"%>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>